body{
    background-color: burlywood;
    font-family: Dialog;
    text-align: center;

}


.titulo{
    font-size: 18px;
    text-align: center;
    color: snow;
    font-family: "Yu Gothic UI Semilight";
    border: 1px solid black;
    margin: 25px 25px 75px 75px;
    background-color: saddlebrown;
}

.info{
    color: snow;
background-image: url("imagenes/shooting.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
}

article{
    font-size: 20px;
    text-align: center;
}

.calculos{
    border: 2px solid black;
    outline: #c44f19 solid 10px;
    margin: 100px 500px;
    padding: 20px;
    text-align: center;
}

#calcular{
    background-color: saddlebrown;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}